
    body{
        width: 100%;
        height: 100vh;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        /*background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        background-color: whitesmoke;
        font-size: 1.5rem;
    }
    .pagehead{
      display: block;
      text-align: center;
      border-top: 2px solid lightseagreen;
      background: linear-gradient(yellow, lightseagreen);
      padding: 0.2rem 0.2rem 0.2rem 0.2rem;
      float:center;
      margin: 0.5rem;
      font-size: 32px;
    }
    .container{
        /*border: 1px solid #717377;*/
        padding: 2rem; 
        border-radius: 1.2rem;
        background-color: lightyellow;
        margin-left: 22%;
        margin-right: 22%;
        /*background: transparent;
        background: linear-gradient(45deg, #0a0a0a, #3a4452);*/
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);
    }
    .container:hover{
        border-radius: 0.5rem;
        box-shadow: 0px 3px 15px rgba(133, 115, 119, 1.0);
    }
    #mapimg{
        width: 30rem;
        height: auto;
    }
    .next{
        background-color: #04AA6D;
        color: white;
        font-size: 18px;
        margin-top: 0.5rem;
        align-content: center;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        width:8rem;
        float:right;
    }
    .next:hover {
      background-color: #ada;
      color: black;
    }
    .previous{
        display: block;
        float:left;
        background-color: #04AA6D;
        color: white;
        font-size: 18px;
        margin-top: 0.5rem;
        align-content: center;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        width:5rem;
    }
    .previous:hover {
      background-color: #ada;
      color: black;
    }
    canvas {
    display: block;
}
.plane{
    cursor: crosshair;
}
.boxhead{
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
}
input{
    align-content: center;
    text-align: center;
    font-style:bold italic;
    color:white;
    border:.5px solid red;
    color: black;
    font-size: 1.2rem;
    width: 3rem;
}
/* container */
.responsive-two-column-grid {
    display:block;
}

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

.subbtn{
    height:auto;
    width:100%;
    text-align: center;
    background-color:#7dc0d6;
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: 1px solid teal;
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;
}

    
.subbtn2{
        height:auto;
        width:auto;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        margin: 0;
        background: none;
        border: none;
        font-size: 1.4rem;
    }



    .head1{
        height:auto;
        width:100%;
        text-align: center;
        background-color:#38eca7;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        border: 1px solid teal;
        margin: 0.5rem 0.2rem 0.2rem 0.2rem;
        display: none;
    }
    
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.s_lst{
    margin-left: 3rem;
}
.s_lst2{
    margin-left: 2.3rem;
    font-size: 1.3.8rem;
}

.p11{
    padding-left: 3rem;
}
.p2{
    padding-left: 6rem;
}
